set_io      clk             P7
set_io      rst             P8

set_io      hsync           H4
set_io      vsync           F4
set_io      blank           D4
set_io      r               N1
set_io      g               K3
set_io      b               H1